*.pot
*.py[co]
*.pkl
*.coverage
*.DS_Store
*.mo
*.mp4
*.out
*.log
.tox/
__pycache__
MANIFEST
.idea/
.vs*
build/
dist/
*.swp
*.swo

/env/
/venv/
.python-version
*.sqlite3
cov.xml
htmlcov/

node_modules/
.pnp
.pnp.js

.coverage
coverage/

.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*